<div class="wrap-form">
  <h2 class="title">Login</h2>

  <div class="server-error"
       *ngIf="serverError"
  >
    <h3>
      {{serverError}}
    </h3>
  </div>

  <form [formGroup]="login" (ngSubmit)="onSubmit(login)">
    <div class="example-container">
      <div class="form-control">
        <mat-form-field>
          <input matInput formControlName="email" placeholder="Email" type="text">
          <mat-error *ngIf="email.hasError('maxlength')">Maximum number of characters 30 </mat-error>
          <mat-error *ngIf="email.hasError('minlength')">Minimum number of characters 3</mat-error>
          <mat-error *ngIf="email.hasError('required')">Required field</mat-error>
        </mat-form-field>
      </div>

      <div class="form-control">
        <mat-form-field>
          <input matInput formControlName="password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="password.hasError('maxlength')">Maximum number of characters 20</mat-error>
          <mat-error *ngIf="password.hasError('minlength')">Minimum number of characters 3</mat-error>
          <mat-error *ngIf="password.hasError('required')">Required field</mat-error>
        </mat-form-field>
      </div>
      <div class="actions">
        <button mat-raised-button
                class="btn-submit"
                color="primary"
                [disabled]="login.invalid"
        >Login</button>
      </div>
    </div>
  </form>
</div>
