<mat-card class="crypto-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      <span>
       Cryptocurrency: <span class="crypto-name">{{itemCrypto.name}}</span>
      </span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Cost:
    </p>
    <p>
      <span class="cost-name">
        USD:
      </span>
      <span>
        {{itemCrypto.value.USD}}
      </span>
    </p>
    <p>
      <span class="cost-name">
        EUR:
      </span>
      <span>
        {{itemCrypto.value.EUR}}
      </span>
    </p>
  </mat-card-content>
</mat-card>
